body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-image: url('resources/trifuerza.jpeg');
    background-size: cover;
}
.wedding_video {
    width: 100%;
    height: fit-content;
}

h1 {
    font-family: "Courier New", monospace;
    font-size: 24px;
    color: #1900ff;
}
h2 {
    font-family: "Courier New", monospace;
    font-size: 24px;
    color: #ff0000;
}